.spinner {
  display: flex;
  justify-content: center;
  margin: 30px;
  -webkit-animation: rotate-scale-up-ver 0.65s linear both;
  animation: rotate-scale-up-ver 0.65s linear both;
}
.spinning {
  animation: spinner 1s linear infinite;
}
@keyframes spinner {
  to {
    transform: rotate(360deg);
  }
}
